<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Story 6 Forms</title>
    <!-- Bootstrap CSS -->
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/bootstrap.min.css' %}">
	<link rel = "stylesheet" type = "text/css" href = "{% static 'css/index.css' %}">
<style>
body{
background-color: gray;
}
</style>
</head>
<body>

    <form class="m-5" method="POST" action="{% url 'homepage:submit' %}">
        {% csrf_token %}
        <div class="container">
            <h2 style="text-align: center"> Hello,<br>How are you ?</h2>
            <div class="form-group">
                <label for='status'>Your status here :</label>
                <input type="text" class="form-control" id='status' name='status' placeholder="I'm having a blast!">
				<div class="container">
                <button type="submit" class="btn btn-primary" style="margin-top:10px">Submit</button>
				</div>
            </div>
        </div>
    </form>


	<div class="container">
          {% for statuses in statusList %}
			{% csrf_token %}
				<h4> {{ statuses.status }} </h4>
				<p><script> document.write(new Date().toDateString()); </script></p>

				<p><br><br></p>
			</form>
			{% endfor %}
      </div>


    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>